.root {
    -fx-background-color: #D0BFFF;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.welcomeRoot {
    -fx-background-color: #D0BFFF;
    -fx-background-size: cover;
}


.popup-background {
    -fx-background-image: url('download.jfif');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.main-button {
    -fx-font-size: 16px;
    -fx-background-color: #FFF8C9;
    -fx-text-fill: black;
    -fx-padding: 20px 60px;
    -fx-background-radius: 18px;
    -fx-alignment: center;
    -fx-min-width: 190px;
}

.record-perc-button {
    -fx-font-size: 11px;
    -fx-background-color: #36383b;
    -fx-text-fill: white;
    -fx-padding: 20px 20px;
    -fx-background-radius: 18px;
    -fx-alignment: center;
    -fx-min-width: 150px;
    -fx-min-height: 40px;
}

.status-text {
    -fx-font-size: 16px;
    -fx-text-fill: black;
}


